# Build artifacts
classes/
*.class
*.jar

# Hadoop checksum files
*.crc
.*.crc

*.csv

!data/Amazon_Sale_Report.csv

!results/
!results/**
!results/*.csv
!results/*.parquet
!results/**/*.parquet

target/
project/target/

.vscode/
.idea/
*.iml
.bloop/
.metals/
.DS_Store
